

/* --------------------------- *
 *   PARALLAX REQUIRED STYLING
 * --------------------------- */

/* It's also a good idea to use a style reset. Something like http://meyerweb.com/eric/tools/css/reset/ */

/* This is required so that the fullscreen images don't cause the page to have a horizontal scroll */
.off-canvas {
  position: relative;
  overflow: hidden;
  width: auto;
}
[data-type=parallax] {
  position: relative;
  z-index: 10;
}
[data-prlx-parent=true] {
  overflow: hidden;
  position: relative;
}
[data-prlx-type=sprite] {
  position: absolute;
}
.parallax-content {
  position: relative;
}